<div class="col-xs-12 col-sm-2 text-center">
  <a class="btn btn-primary" href="#/users"><i class="fa fa-user"></i></a>
  <p></p>
  <span class="text-primary">Usuários</span>
</div>
<div class="col-xs-12 col-sm-2 text-center">
  <a class="btn btn-danger" href="#/areas"><i class="fa fa-users"></i></a>
  <p></p>
  <span class="text-danger">Áreas Comuns</span>
</div>
<div class="col-xs-12 col-sm-2 text-center">
  <a class="btn btn-warning" href="#/events"><i class="fa fa-birthday-cake"></i></a>
  <p></p>
  <span class="text-warning">Eventos</span>
</div>
<div class="col-xs-12 col-sm-2 text-center">
  <a class="btn btn-success" href="#/visitors"><i class="fa fa-male"></i></a>
  <p></p>
  <span class="text-success">Visitantes</span>
</div>
<div class="col-xs-12 col-sm-2 text-center">
  <a class="btn btn-danger" href="#/bills"><i class="fa fa-bar-chart"></i></a>
  <p></p>
  <span class="text-danger">Fluxo de Caixa</span>
</div>
<div class="col-xs-12 col-sm-2 text-center">
  <a class="btn btn-primary" href="#/messages"><i class="fa fa-envelope-o"></i></a>
  <p></p>
  <span class="text-primary">Mensagens</span>
</div>
<div class="col-xs-12 col-sm-2 text-center">
  <a class="btn btn-success" href="#/sells"><i class="fa fa-bar-chart"></i></a>
  <p></p>
  <span class="text-success">Classificados</span>
</div>
<div class="col-xs-12 col-sm-2 text-center">
  <a class="btn btn-primary" href="#/workers"><i class="fa fa-id-badge"></i></a>
  <p></p>
  <span class="text-primary">Funcionários</span>
</div>
</div>
<div class="col-xs-12 col-sm-2 text-center">
  <a class="btn btn-success" href="#/servers"><i class="fa fa-id-card-o"></i></a>
  <p></p>
  <span class="text-success">Prestadores de Serviços</span>
</div>
<div class="col-xs-12 col-sm-2 text-center">
  <a class="btn btn-warning" href="#/archives"><i class="fa fa-file-text-o"></i></a>
  <p></p>
  <span class="text-warning">Documentos</span>
</div>
