<div class="col-xs-12 col-sm-12 text-center">
    <label class="col-xs-12 col-sm-2" for="code">Identificador <input type="text" class="form-control form-inline" id="code" name="code" ng-readonly="true" ng-model="condom.code"></label>
    <label class="col-xs-12 col-sm-4" for="name">Nome <input type="text" class="form-control form-inline" id="name" name="name" required ng-model="condom.name"></label>
    <label class="col-xs-12 col-sm-4" for="address">Address <input type="text" class="form-control form-inline" id="address" name="address" required ng-model="condom.address"></label>
    <label class="col-xs-12 col-sm-2" for="address">Síndico
      <select ng-if="users.length == 0" id="co" class="form-control" ng-model="filtroS" ng-change="changeSyndic(filtroS)">
        <option value='' selected>Nenhum usuário configurado</option>
      </select>
      <select ng-if="users.length > 0" id="co" class="form-control" ng-model="filtroS" ng-change="changeSyndic(filtroS)">
        <option value='' ng-if="condom.syndic != null" selected>Atual: {{condom.syndic.name}}</option>
        <option ng-repeat="user in users | unique: 'user._id'" value={{user}}>{{user.name}}</option>
      </select>
    </label>
</div>
<div class="col-xs-12 col-sm-12">
  <div id="towers" class="table-responsive col-xs-12 col-sm-6" ng-if="condom.towers.length > 0" ng-include="'partials/adm/towers.html'"></div>
  <div id="areas" class="table-responsive col-xs-12 col-sm-6" ng-if="areas.length > 0" ng-include="'partials/adm/areas.html'"></div>
</div>
