<div class="col-xs-12 col-sm-12" ng-if="!loggedUser.isBlocked">
  <h4 class="text-primary"><i class="fa fa-user"></i> {{loggedUser.name}} <a class="btn btn-primary" ng-href="#/user/{{loggedUser._id}}"><i class="fa fa-pencil"></i></a></h4>
  <h4 class="text-primary" ng-if="loggedUser.condom != undefined"><b>Condomínio {{loggedUser.condom.code}}:</b> {{loggedUser.condom.name}} - {{loggedUser.tower.name}} - Unidade {{loggedUser.unit.name}}: {{loggedUser.condom.address}} <a class="btn btn-primary" ng-href="#/condom/{{loggedUser.condom._id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></h4>
</div>
<div class="col-xs-12 col-sm-12">
  <p></p>
  <div id="buttons" class="col-xs-12 col-sm-12" ng-include="'partials/adm/buttons.html'"></div>
  <p></p>
  <div class="col-xs-12 col-sm-12">
    <div id="towers" class="table-responsive col-xs-12 col-sm-6" ng-if="condom.towers.length > 0" ng-include="'partials/adm/towers.html'"></div>
    <div id="areas" class="table-responsive col-xs-12 col-sm-6" ng-if="areas.length > 0" ng-include="'partials/adm/areas.html'"></div>
  </div>
  <div class="col-xs-12 col-sm-12">
    <div id="workers" class="table-responsive col-xs-12 col-sm-6" ng-if="workers.length > 0" ng-include="'partials/adm/workers.html'"></div>
    <div id="servers" class="table-responsive col-xs-12 col-sm-6" ng-if="servers.length > 0" ng-include="'partials/adm/servers.html'"></div>
  </div>
</div>
