<span class="text-primary">Prestadores de serviço</span>
<div ng-controller="ServersController">
  <table class="table table-hover">
    <tr>
        <th class="text-center col-xs-12 col-sm-2">Nome</th>
        <th class="text-center col-xs-12 col-sm-3">Categoria</th>
        <th class="text-center col-xs-12 col-sm-1">Detalhes</th>
    </tr>
    <tr ng-repeat="server in servers" ng-if="loggedUser.condom._id === server.condom._id">
        <td class="text-center col-xs-12 col-sm-2">{{server.name}}</td>
        <td class="text-center col-xs-12 col-sm-3">{{server.category}}</td>
        <td class="text-center col-xs-12 col-sm-1"><a class="btn btn-success" ng-click="showDetails(server)"><i class="fa fa-search"></i></a></td>
    </tr>
  </table>
</div>
