<h1 class="text-center">Visitantes</h1>
<p ng-show="mensagem.texto">{{mensagem.texto}}</p>
<form ng-submit="salvaVisitor()">
  <div class="col-xs-12 col-sm-12 text-center">
      <label class="col-xs-12 col-sm-4" for="name">Nome <input type="text" class="form-control form-inline" id="name" name="name" required ng-model="visitor.name"></label>
      <label class="col-xs-12 col-sm-2" for="contact">Contato <input type="text" class="form-control form-inline" id="contact" name="contact" required ng-model="visitor.contact"></label>
      <label class="col-xs-12 col-sm-2" for="document">Documento <input type="text" class="form-control form-inline" id="document" name="document" required ng-model="visitor.document"></label>
      <label class="col-xs-12 col-sm-2" for="details">Detalhes <input type="text" class="form-control form-inline" id="details" name="details" ng-model="visitor.details"></label>
      <label class="col-xs-12 col-sm-2" for="enter">Entrada <input type="date" placeholder="dd/MM/yyyy" class="form-control form-inline" id="enter" name="enter" required ng-model="visitor.enter"></label>
      <label class="col-xs-12 col-sm-2" for="exit">Saída <input type="date" placeholder="dd/MM/yyyy" class="form-control form-inline" id="exit" name="exit" ng-model="visitor.exit"></label>
  </div>  
  <div class="col-xs-12 col-sm-12 text-center">
    <p></p>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <button ng-click="back()" class="btn btn-default">Voltar</button>
  </div>
</form>
