<h1 class="text-center" style="background-color: darkblue; color: cornsilk;">Smart Síndico - Gestão de Condomínios - Funcionários</h1>
<br>
<form class="form-inline">
  <a class="btn btn-primary" ng-href="#/worker">Novo Funcionário</a>
  <input class="form-control" ng-model="filtro" type="search" placeholder="filtrar por nome">
  <span> Filtros </span>
  <select id="co" class="form-control" ng-model="filtroC" ng-change="condomWorkerChanged(filtroC)">
    <option value='' selected>Condominio</option>
    <option ng-repeat="condom in condoms | unique: 'condom._id'" value={{condom}}>{{condom.name}}</option>
  </select>
  <select id="to" class="form-control" ng-model="filtroT" ng-change="towerWorkerChanged(filtroT)">
    <option value='' selected>Torre</option>
    <option ng-repeat="tower in towers | unique: 'tower._id'" value='{{tower}}'>{{tower.name}}</option>
  </select>
  <select id="un" class="form-control" ng-model="filtroU" ng-change="unitWorkerChanged(filtroU)">
    <option value='' selected>Unidade</option>
    <option ng-repeat="unit in units | unique: 'unit._id'" value='{{unit}}'>{{unit.name}}</option>
  </select>
</form>
<p>Funcionários cadastrados: {{workers.length}}</p>
<p class="text-info" ng-hide="workers.length">Não há funcionários cadastrados</p>
<div class="table-responsive">
    <table class="table table-hover">
      <tr>
          <th class="text-left">Nome</th>
          <th class="text-left">Contato</th>
          <th class="text-left">Endereço</th>
          <th class="text-left">Documento</th>
          <th class="text-left">Condomínio</th>
          <th class="text-left">Torre</th>
          <th class="text-left">Unidade</th>
          <th class="text-right">Ações</th>
      </tr>
      <tr ng-repeat="worker in workers | filter: filterWorkers">
          <td class="text-left">{{worker.name}}</td>
          <td class="text-left">{{worker.contact}}</td>
          <td class="text-left">{{worker.address}}</td>
          <td class="text-left">{{worker.document}}</td>
          <td class="text-left">{{worker.condom.name}}</td>
          <td class="text-left">{{worker.tower.name}}</td>
          <td class="text-left">{{worker.unit.name}}</td>
          <td class="text-right">
            <a class="btn btn-primary" ng-if="loggedUser.unit._id === worker.unit._id || (worker.unit === null && loggedUser.isAdmin) || loggedUser.isSuper" ng-href="#/worker/{{worker._id}}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-success" ng-if="loggedUser.unit._id != worker.unit._id && worker.unit != null && !loggedUser.isSuper" ng-click="showDetails(worker)"><i class="fa fa-search"></i></a>
            <a class="btn btn-danger" ng-click="removeWorker(worker)"><i class="fa fa-trash"></i></a>
          </td>
      </tr>
    </table>
</div>
<button ng-click="back()" class="btn btn-default">Voltar</button>
